{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "jsxBracketSameLine": true,
    "trailingComma": "none",
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "vueIndentScriptAndStyle": false,
    "arrowParens": "always",
    "quoteProps": "consistent"
}